
.header{
    display:flex;
    align-items: center;
    width: 1366px;
    height: 72px;
    background-color: #0064EB;
}
.logo{
    padding-left: 41px;
}
.Search{
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    margin-left: 23px;
    background: #FFFFFF;
    border-radius: 6px;
}
.Lupe{
    width: 14px;
    height: 14px;
    margin-left: 19px;
}
.input{
    width: 256px;
    height: 24px;
    margin-left: 11px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.01em;
color: #808080;
outline: 0;
outline: none;
border: none;
border: solid 1px #f2f2f2;
}
.Find{
    width:30px;
    height: 30px;
    border-radius: 6px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.01em;
color: #808080;
outline: 0;
outline: none;
border: none;
border: solid 1px #f2f2f2;
}
.Start-logo{
    margin-top: 218px;
}
.Span1{
margin-top:46px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 140%;
text-align: center;
color: #808080;
}
.Main{
    display: flex;
}
.avatar{
    width: 280px;
    height: 280px;
    border-radius: 160px;
    margin-top: 39px;
    margin-left: 57px;
}
.AvaName{
margin-top:29px;
margin-right: 135px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 130%;

color: #000000;
}
.Login{
margin-right: 170px;
border-bottom:10px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #0064EB;

}
.followers{
    padding-top: 20px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #000000;
}
.repos{
margin-left:100px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 130%;
color: #000000;
}
.ReposUr{
    position: absolute;
    left:560px;
    
}
.RepoName{
    padding: 24px 32px;
    width: 877px;
height: 112px;
background: #FFFFFF;
border-radius: 6px;
    display:flex;
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #0064EB;

}